
html,body{
	width: 100%;
	height: 100%;
}
#container{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	background-color: black;
}
#leafContainer{
	width: 100%;
	height: 100%;
	position: absolute;
}
#leafContainer>div{
	position: absolute;
	width: 100px;
	height: 100px;
	-webkit-animation-iteration-count:infinite,infinite;
	-webkit-animation-direction:normal,normal;
	-webkit-animation-timing-function:linear,ease-in;
}
#leafContainer>div>img{
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:alternate;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-transform-origin:50% -100%;
}
@-webkit-keyframes fade{
	0%{opacity: 1;}
	95%{opacity:1;}
	100%{opacity: 0;}
}
@-webkit-keyframes drop{
	0%{
		-webkit-transform: translate(0px,-50px);
	}
	100%{
		-webkit-transform: translate(0px,1000px);
	}
}
@-webkit-keyframes leftRotation{
	0%{
		-webkit-transform:rotate(-50deg);
	}
	100%{
		-webkit-transform:rotate(50deg);
	}
}
@-webkit-keyframes rightRRotation{
	0%{
		-webkit-transform: scale(-1,1) rotate(50deg);
	}
	100%{
		-webkit-transform: scale(-1,1) rotate(-50deg);
	}
}

